.app {
    nav {
        clear: both;
        float: left;
        margin-bottom: 20px;

        a {
            display: list-item;
            list-style: none;
            float: left;
            width: 120px;
            border-top: 2px solid #000;
            margin-left: 15px;
            padding-top: 1px;

        }

        a:hover, .active {
            padding-top: 0px;
            border-top: 3px solid #555;
        }
    }
    main {
        clear: both;
        float: left;
    }
}

